[submodule "swiper"]
	path = swiper
	url = https://github.com/mookid/swiper
[submodule "ivy-xref"]
	path = ivy-xref
	url = https://github.com/mookid/ivy-xref
[submodule "lispy"]
	path = lispy
	url = https://github.com/mookid/lispy
[submodule "expand-region.el"]
	path = expand-region.el
	url = https://github.com/mookid/expand-region.el
[submodule "rust-mode"]
	path = rust-mode
	url = https://github.com/mookid/rust-mode
[submodule "emacs-racer"]
	path = emacs-racer
	url = https://github.com/mookid/emacs-racer
[submodule "cargo.el"]
	path = cargo.el
	url = https://github.com/mookid/cargo.el
[submodule "evil-nerd-commenter"]
	path = evil-nerd-commenter
	url = https://github.com/mookid/evil-nerd-commenter
[submodule "dash.el"]
	path = dash.el
	url = https://github.com/mookid/dash.el
[submodule "s.el"]
	path = s.el
	url = https://github.com/mookid/s.el
[submodule "f.el"]
	path = f.el
	url = https://github.com/mookid/f.el
[submodule "elisp-refs"]
	path = elisp-refs
	url = https://github.com/mookid/elisp-refs
[submodule "shut-up"]
	path = shut-up
	url = https://github.com/mookid/shut-up
[submodule "loop.el"]
	path = loop.el
	url = https://github.com/mookid/loop.el
[submodule "helpful"]
	path = helpful
	url = https://github.com/mookid/helpful
[submodule "hydra"]
	path = hydra
	url = https://github.com/mookid/hydra
[submodule "move-text"]
	path = move-text
	url = https://github.com/mookid/move-text
[submodule "avy"]
	path = avy
	url = https://github.com/mookid/avy
[submodule "ace-link"]
	path = ace-link
	url = https://github.com/mookid/ace-link
