*.elc
.cask/
.emacs-custom.el
.emacs.desktop*
HyperSpec*
abbrev_defs
auto-save-list/*
backups/*
bookmarks
elpa/*.txt
elpa/archives/*
eshell/*
private.el
projectile-bookmarks*
projectile.cache
recentf
savehist
semanticdb
url/*
