auto-save-list/*
backups/*
eshell/*
url/*
savehist
.emacs.desktop*
server/

private.el
abbrev_defs
recentf
projectile-bookmarks*
projectile.cache
semanticdb
*.elc
.emacs-custom.el
.mc-lists.el

elpa/archives/*
