[submodule "swiper"]
	path = swiper
	url = https://github.com/mookid/swiper
[submodule "ivy-xref"]
	path = ivy-xref
	url = https://github.com/mookid/ivy-xref
[submodule "lispy"]
	path = lispy
	url = https://github.com/mookid/lispy
[submodule "expand-region.el"]
	path = expand-region.el
	url = https://github.com/mookid/expand-region.el
